*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Oswald', sans-serif;
   letter-spacing: 0.3px;
}
#header{
    background: #000;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    background: #000;
    color: #fff;
    padding: 15px 50px;
    align-items: center;
}
.menu_bar{
   

}
.logo_sec{
    
}
.logo_sec h1{
    font-size: 35px;
    text-transform: uppercase;
}

.menu_bar ul{
padding:0  ;
margin: 0;
display: flex;
list-style-type: none;
}
.menu_bar ul  li a{
    margin-left: 30px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #fff;
    font-size: 18px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}
.menu_bar ul  li a:hover{
   color: orange;
   cursor: url(img/haha-imoji.png) ,pointer;
}
.bottom_header{
    display: flex;
    align-items: center;
    padding:40px;  

}
.box{
width:  40%; 
margin:0 5%;
}
h1{
font-size: 45px;
color:#fff;
text-transform: capitalize;
}
p{
    color: rgb(196 205 205);
    font-size: 20px;
    text-align: justify;

}
.header_p{
color: #f00;
}
.hero_text{
    color: #fa8100e1;
    margin-bottom: 20px;
    margin-top: 20px;
    
}
.hero_btn,.btn{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    padding: 10px 30px;
    background: #fa8100e1;
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;
    margin-top: 30px;
    transition: all ease 0.5s;
    -webkit-transition:0.5s all ease ;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}
.hero_btn:hover,.btn:hover{
       letter-spacing: 2px;    
}
.box img{
width: 100%;
margin: 0 auto;
display: block;

}
.take_a_look{
    padding: 40px 30px;
}
h2{
    font-size: 40px;
    text-align: center;
}
.card{
    width: 300px;
    height: 240px;
    border: 1px solid gray;
    text-align: center;
    padding:20px 20px 60px;
    box-shadow:3px 3px 38px gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: linear-gradient( rgba(91, 255, 2, 0.559),rgba(255, 99, 2, 0.8));
    margin-top: 40px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}

.card_wrapper{
    padding:40px 0px 0px;
    display: flex;
    justify-content: space-evenly;
}
.card p{
    font-size: 14px;
    color: #000;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}
.card a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.5s all ease
}
.gym_icon{
    width: 70px;
}
.card:hover{
    margin-top: 0px;
    height: 280px;
    border: 1px solid rgb(110, 4, 249);
   }
.card:hover p {
   color: #fff;
   }
.card:hover a{
padding-left: 10px;
color: #fff;
display: inline-block;
}

/* About us section */
.about_us{
    background: #000;
    color: #fff;
    padding: 20px 5px 60px;
}
.about_us h3{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom:20px;
}
.about_us h2{
   

}
.about_container{
    display: flex; 
    justify-content: space-between;

}
.about_container .left_sec,
.about_container .right_sec{
   width: 49%; 
   margin-top: 25px;
   padding-top: 20px;
   margin-right: 2%;

}
.about_container .workout_sec{
display: flex;
padding-left: 10px;
padding-top: 25px;
border-top: 2px solid #fff; 
}
.about_container .workout_sec img{ width: 400px; height: 500px; transform:skewy(-15deg); -webkit-transform:skewy(-15deg); -moz-transform:skewy(-25deg); -ms-transform:skewy(-15deg); -o-transform:skewy(-15deg);
    margin-top: 45px;
}
.about_container .right_sec{
   padding-left: 10px;
   padding-right: 20px;
   margin-right: 0;
   border-top: 2px solid #f00;
  

}
.about_container .right_sec{
   padding-left: 10px;
   padding-right: 20px;
   margin-right: 0;
   border-top: 2px solid #f00; 

}
.about_container .right_sec p{
    margin: 20px 0px;
    line-height: 1.5em;
    color:#fff;


}
.about_container .right_sec ul li{
   list-style-type:none;
   margin: 10px 10px;
   text-align: center;
}
.about_container .right_sec ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;  
  
}
.about_btn {
    display: inline-block;
    margin: 0 auto; 
}
.btn_div{
    display: flex;
    margin-top: 20px;
}
/* Message Section */
#message_sec{
   padding: 40px 20px; 
    display: flex;
   justify-content: center;
   align-items: center; 

}
.message_wrap{
    width: 800px;
    min-height:234px ;
    background:url(img/message.png);
    background-size: 800px 234px;
    background-position: center center;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.message_wrap h2{
    text-transform: uppercase;
    letter-spacing: 3px;
}
.messge_btn{
    margin: 0;
    background: rgb(255, 255, 255);
    color:rgb(254, 254, 254);
    border: 0;
    width: 200px;
    cursor: pointer;
    padding: 15px;
    font-weight: 600;
    transition: 0.5s all ease-in-out;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    animation-name:fahim;
    -webkit-animation:fahim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    text-transform: capitalize;

}
@keyframes fahim {
    from{background:rgb(25, 255, 4) }
    to{background: orange;}
    
}
@-moz-keyframes fahim {
    from{background:rgb(25, 255, 4) }
    to{background: orange;}
    
}
@-webkit-keyframes fahim{
    from{background:rgb(25, 255, 4) }
    to{background: orange;width: 180px;}
}


/* Services section styles  */
.services_sec{
   padding: 60px 40px 100px;
   display: flex;
   flex-direction: column;
   row-gap: 50px;
}
.services_container{
    display:flex; 
    justify-content: space-around;
    
}
.services{
    width: 300px;
    height: 430px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #000;
    padding-bottom: 20px;
}
.service_unique{
    position: relative;
}
.service_unique .batch{
    position: absolute;
    width: 100px;
    height: auto;
    top: 0;
    right: 0;
    transform: translate(10%,-25%);
    -webkit-transform: translate(10%,-25%);
    -moz-transform: translate(10%,-25%);
    -ms-transform: translate(10%,-25%);
    -o-transform: translate(10%,-25%);
}
.services_container img{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.top_services{
    padding: 10px;
}
.top_services h4{
    font-size: 20px;
    font-family: bold;
    text-transform: capitalize;
    margin: 10px 0px;
    color: #f00;
}
.top_services h3{
    text-transform: capitalize;
    margin: 10px 0px;
}
.top_services h5{
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: -10px;
}
.bottom_services{
    padding:10px;
    margin-top: 10px;
    display: flex;
    justify-content:space-between;
}
.bottom_services span{
   font-size: 30px;
   width: 50%;
   
}
.bottom_services a{
   font-size: 20px;
   color: #f00;
   text-decoration: none;
   text-transform: capitalize;
   margin-top: 10px;
   align-items: left;
   width: 50%;
   transition: 0.5s all ease-in-out;
   -webkit-transition: 0.5s all ease-in-out;
   -moz-transition: 0.5s all ease-in-out;
   -ms-transition: 0.5s all ease-in-out;
   -o-transition: 0.5s all ease-in-out;
}
.bottom_services a:hover{
   letter-spacing: 2px;
}
#footer{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px 80px;
    border-top: 1px solid #000;
}
#footer ul{
    display: flex;
}
#footer ul li {
   list-style-type: none;
   padding-right: 25px;
}
#footer ul li a{
   font-weight: 300px;
   text-transform: capitalize;
   text-decoration: none;
   color: rgb(0, 0, 0);

}
#footer p{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 300;
}
.author{
    color: #f00;
    font-weight: 700;
}